volumes:
    postgres-data:
        external: true
services:
  mrq:
    build:
      context: mrq
      dockerfile: ./Dockerfile.dev
    ports:
      - 8000:8000
    volumes:
      - ./mrq:/app
    environment:
      DATABASE_URL: postgresql://MRQ:MRQ@postgres/postgres
      WAIT_HOSTS: postgres:5432
      # SIGNING_KEY: MRQSUPERSECRET
      SIGNING_KEY: 8b8d7b5632b8dfe5b99aef25145e2c0c970511a6d919a8ad256a2a6d1fd9e290
      WAIT_BEFORE: 5
      WAIT_TIMEOUT: 60

  postgres:
      image: postgres:latest
      volumes:
          - postgres-data:/var/lib/postgresql/data
      environment:
        POSTGRES_PASSWORD: MRQ
        POSTGRES_USER: MRQ
        POSTGRES_DB: postgres
      ports:
          - 15432:5432
  ghi:
    image: node:lts-bullseye
    command: /bin/bash run.sh
    working_dir: /app
    volumes:
      - ./ghi:/app
    ports:
      - "3000:3000"
    environment:
      HOST_OS: ${OS}
      NODE_ENV: development
      HOST: "0.0.0.0"
      PUBLIC_URL: http://localhost:3000
      REACT_APP_MRQ_SERVICE: http://localhost:8000
