@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Kanit:wght@900&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  /* display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0; */

}

.col-md-6 {
  background-color: black;
  color: white;
  margin-top: 20px; /* Add margin to separate the form from the top */
}

.radiant-background {
  background: linear-gradient(to bottom, #CCCCCC, #61c7c4);
  width:100vw;
  /* Replace the color values above with your desired colors */
}

.resources-page:hover {
 background-color: rgb(200, 185, 241);
 border-color: rgb(2, 0, 7);
}

.dashboard-font-normal {
  font-family: 'Poppins', sans-serif;
}

.dashboard-font-bold {
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
}

.dashboard-border {
  /* border: 2px solid rgb(255, 255, 255); */
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 20px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 15px;
}

.dashboard-background {
  background-color: rgb(225, 225, 225);
}

.dashboard-goal {
  background-color: rgb(112, 93, 199);
  color:white;
}

.dashboard-goal-line::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: white;
  margin-top: 36px;
}
.dashboard-purple-text {
  color: rgb(112, 93, 199);
}

.dashboard-height {
  max-height: 95vh;
}

.overview-button {
 background-color: rgb(255, 255, 255);
 color: rgb(112, 93, 199);
}

.overview-button:hover {
 background-color: rgb(112, 93, 199);
 color: rgb(255, 255, 255);
 font-weight: bold;
}

.dashboard-button {
 background-color: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
}

.dashboard-button:hover {
 background-color: rgb(112, 93, 199);
 color: rgb(255, 255, 255);
 font-weight: bold;
}
